<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background: url("../static/img/r.jpg");
            background-repeat: no-repeat;
        }
    </style>
    <meta charset="UTF-8">
    <title>znn</title>
</head>
<body>
    <img src="../static/img/lz.jpg" height="400px" width="300px">
    <h1 style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://weibo.com/u/3562143735?is_hot=1">撩她</a></h1>
</body>
</html>